CONFLUENT_CLOUD_API_KEY=
CONFLUENT_CLOUD_API_SECRET=
KAFKA_API_KEY=
KAFKA_API_SECRET=
KAFKA_BOOTSTRAP_SERVER=
SCHEMA_REGISTRY_API_KEY=
SCHEMA_REGISTRY_API_SECRET=
KAFKA_REST_ENDPOINT=
KAFKA_CLUSTER_ID=
KAFKA_ENV_ID=
SCHEMA_REGISTRY_ENDPOINT=
GEMINI_API_KEY=